@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model ConfirmRegulatedStandardViewModel

@{
    ViewBag.Title = "Regulated standard";
}
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="ConfirmRegulatedStandard"></a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-caption-xl">Check your record</div>
            <h1 class="govuk-heading-xl">This is a regulated standard</h1>
            <form method="post" asp-action="" asp-controller="" novalidate>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <table class="govuk-table" aria-describedby="ContactDetails">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" colspan="2"> </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <span class="app-task-list__task-name">
                                            <strong>
                                                Regulator
                                            </strong>
                                        </span>
                                    </td>
                                    <td class="govuk-table__cell">
                                        @Model.RegulatorName
                                    </td>
                                    <td class="govuk-table__cell">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <fieldset class="govuk-fieldset">
                            <h2 class="govuk-heading-m">Have you been approved by the regulator to deliver this standard?</h2>
                            <div class="govuk-radios">

                                <div class="govuk-radios__item">

                                    <input class="govuk-radios__input" id="ConfirmRegulatedStandard-Yes"
                                           name="ConfirmRegulatedStandard" type="radio" value="Y"
                                           sfa-validation-for="ConfirmRegulatedStandard" sfa-validationerror-class="form-control-error">
                                    <label class="govuk-label govuk-radios__label" for="ConfirmRegulatedStandard-Yes">
                                        Yes
                                    </label>

                                </div>

                                <div class="govuk-radios__item">

                                    <input class="govuk-radios__input" id="ConfirmRegulatedStandard-No"
                                           name="ConfirmRegulatedStandard" type="radio" value="N"
                                           sfa-validation-for="ConfirmRegulatedStandard" sfa-validationerror-class="form-control-error">
                                    <label class="govuk-label govuk-radios__label" for="ConfirmRegulatedStandard-No">
                                        No
                                    </label>

                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a regulated standard?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                This means there is a regulator that is responsible for this standard, and you must be approved by them to deliver it.
                            </div>
                            <div class="govuk-details__text">
                                Not having the regulator’s approval will invalidate the training you give your apprentices. They will also not be accepted for assessment.
                            </div>
                            <div class="govuk-details__text">
                                <a href="https://www.instituteforapprenticeships.org/developing-new-apprenticeships/statutory-regulated-occupations/" aria-describedby="Read-more-on-the-role-of-the-regulator" class="govuk-link" target="_blank" rel="noreferrer noopener">
                                    Read more on the role of the regulator
                                </a>  in certain occupations.
                            </div>
                        </details>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                        Save and continue
                    </button>
                    <a id="cancel" class="govuk-link" href="#">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>