@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model StandardListViewModel
@{
    ViewBag.Title = "Standards";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackLink">Back</a>
}
@if (Model.ShowNotificationBannerDeleteStandard)
{
    <partial name="~/Views/Standards/StandardsPartials/_StandardDeleteNotificationBanner.cshtml" />
}
@if (Model.ShowNotificationBannerAddStandard)
{
    <partial name="~/Views/Standards/StandardsPartials/_StandardAddNotificationBanner.cshtml" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" id="header-standards">Manage your standards</h1>
        <p class="govuk-body">Select <strong>Add a standard</strong> to add a new course, or select the name of a standard to change its training options or contact details. You can also delete a standard.</p>
        <p class="govuk-body">Any changes you make will update Find apprenticeship training.</p>
        <p class="govuk-body">
            <a href="@Model.AddAStandardLink" class="govuk-button">
                Add a standard
            </a>
        </p>
        <table class="govuk-table" aria-labelledby="header-standards">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-font-size-24" scope="col">Your standards</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var standard in Model.Standards.OrderBy(x => x.CourseDisplayName))
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="@standard.StandardUrl">
                            @standard.CourseDisplayName
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>