@using SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderLocations.AddProviderLocation
@model ProviderLocationPostcodeViewModel
@{
    ViewBag.Title = "Enter a postcode";
    ViewBag.Description = "";
}
@section breadcrumb {
    <a href="@Model.BackLink" class="govuk-back-link">Back</a>
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_validationSummaryPartial" model="ViewData.ModelState" />
            <div class="govuk-caption-xl">Add a training location</div>
            <h1 class="govuk-heading-xl">What is the postcode of this training location?</h1>

            <form method="post" asp-route="@RouteNames.PostTrainingLocationPostcode" enctype="multipart/form-data" novalidate>
                <div esfa-validation-marker-for="Postcode" class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" asp-for="Postcode">
                        Postcode
                    </label>
                    <span asp-validation-for="Postcode" class="govuk-error-message"></span>
                    <input asp-for="Postcode" id="Postcode" class="govuk-input govuk-input--width-10" type="text" autocomplete="postal-code" maxlength="10">
                </div>

              <div class="govuk-button-group">
                  <button id="submit" type="submit" class="govuk-button">Find Address</button>
                  <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
              </div>
            </form>
        </div>
    </div>