@using SFA.DAS.Roatp.CourseManagement.Web.Models.AddTrainingLocation
@model AddressSearchViewModel
@{
    ViewBag.Title = "Select an address";
    ViewBag.Description = "";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post" asp-route="@RouteNames.PostSearchAddress" enctype="multipart/form-data" novalidate>

            <input asp-for="AddressLine1" id="AddressLine1" type="hidden" />
            <input asp-for="AddressLine2" id="AddressLine2" type="hidden" />
            <input asp-for="Town" id="Town" type="hidden" />
            <input asp-for="County" id="County" type="hidden" />
            <input asp-for="Postcode" id="Postcode" type="hidden" />
            <input asp-for="Longitude" id="Longitude" type="hidden" />
            <input asp-for="Latitude" id="Latitude" type="hidden" />
            <div class="govuk-caption-l">Add a training venue</div>
            <h1 class="govuk-heading-l margin-bottom-30">Select an address</h1>
            <div id="LocationName-hint" class="govuk-hint">
                Start typing an address or postcode.
            </div>
            <div esfa-validation-marker-for="SearchTerm" class="govuk-form-group">
                <span asp-validation-for="SearchTerm" class="govuk-error-message"></span>
                <div data-module="govuk-input">
                    <label>
                        <span class="govuk-visually-hidden">Search Term</span>
                        <input id="SearchTerm" type="text" name="SearchTerm" asp-for="SearchTerm" class="govuk-input" sfa-validationerror-class="form-control-error" maxlength="200" data-module="autoComplete"/>
                    </label> 
                </div>
            </div>
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>