@model SFA.DAS.Roatp.CourseManagement.Web.Models.StandardsAndVenuesViewModel
@{
    ViewBag.Title = "Standards and venues";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your standards and training venues</h1>
    </div>
</div>

<div class="govuk-grid-row app-flex-row">
    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a href="@Model.VenuesUrl" class="govuk-link">Training venues</a></h2>
            <p class="app-feature-box__content">Add or update venues where you carry out the training.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a href="@Model.StandardsUrl" class="govuk-link">The standards you deliver</a></h2>
            <p class="app-feature-box__content">Manage the standards your organisation delivers.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a href="@Model.ProviderDescriptionUrl" class="govuk-link">Provider overview</a></h2>
            <p class="app-feature-box__content">View your training provider information that shows on Find apprenticeship training.</p>
        </div>
    </div>
</div>

