@model SFA.DAS.Roatp.CourseManagement.Web.Models.StandardsAndVenuesViewModel
@{
    ViewBag.Title = "Standards and venues";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your standards and training venues</h1>
        <div>
            <h2 class="govuk-heading-m">
                <a href="@Model.VenuesUrl">Training venues</a>
            </h2>
            <p>Add or update venues where you carry out the training</p>
        </div>
        <div>
            <h2 class="govuk-heading-m">
                <a href="@Model.StandardsUrl">The standards you deliver</a>
            </h2>
            <p>Manage the standards your organisation delivers.</p>
        </div>
        <div>
            <h2 class="govuk-heading-m">
                <a href="@Model.ProviderDescriptionUrl">Provider overview</a>
            </h2>
            <p>View your training provider information that shows on Find apprenticeship training.</p>
        </div>
    </div>
</div>
