<nav>
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                What is a regulated standard?
            </span>
        </summary>
        <div class="govuk-details__text">
            This means there is a regulator that is responsible for this standard, and you must be approved by them to deliver it.
        </div>
        <div class="govuk-details__text">
            Not having the regulator’s approval will invalidate the training you give your apprentices. They will also not be accepted for assessment.
        </div>
        <div class="govuk-details__text">
            If you are not approved or are unsure about your approval status, get in touch with the regulator.
        </div>
    </details>
</nav>
