@model SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderDescription.ProviderDescriptionViewModel
@{
    ViewBag.Title = "Standards and venues";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your training provider overview</h1>
        <p>This overview of your organisation is seen by employers when they look for apprenticeship training.</p>
        <h2 class="govuk-heading-l">As shown on Find apprenticeship training</h2>
        <p>@Model.Description</p>
    </div>
</div>
