@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.DfESignIn.Auth.Extensions
@model SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderLocations.ProviderLocationNotDeletedViewModel

@{
    ViewBag.Title = "This venue cannot be deleted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Training venue</span>
        <h1 class="govuk-heading-xl margin-bottom-30">This venue cannot be deleted</h1>
        
        <p class="govuk-body">
            This venue has not been deleted. This is because you deliver the training types linked below at @Model.LocationName.
        </p>
        <h2 class="govuk-heading-m">What do to next</h2>

        <p class="govuk-body">
            To delete the venue you can do any of these:
            <ul class="govuk-list govuk-list--bullet">
                <li>delete the training types linked below</li>
                <li>change them to be delivered at another venue</li>
                <li>change them to be delivered at an employer's location</li>
            </ul>
        </p>
        <p class="govuk-body">
            The training types that need to be changed or deleted:
        </p>
        
        <h3 asp-show="Model.ShowStandards" class="govuk-heading-m">Apprenticeships</h3>

        <partial name="_ProviderLocationCourseLinks" for="StandardLinks" />

        <h4 asp-show="Model.ShowApprenticeshipUnits" class="govuk-heading-m">Apprenticeship Units</h4>

        <partial name="_ProviderLocationCourseLinks" for="ApprenticeshipUnitLinks" />

        <p class="govuk-body">
            You can then return to your list of venues and delete this venue.
        </p>
    </div>
</div>