@using SFA.DAS.Roatp.CourseManagement.Web.Models.AddAStandard
@model SelectLocationOptionViewModel
@{
    ViewBag.Title = "Where will this standard be delivered";
    ViewBag.Description = "";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <div class="govuk-caption-l">Add standard</div>
        <h1 class="govuk-heading-xl">Where will this standard be delivered?</h1>

        <form method="post" asp-route="@RouteNames.PostAddStandardSelectLocationOption" enctype="multipart/form-data" novalidate>

            <div esfa-validation-marker-for="LocationOption" class="govuk-form-group">
                <span asp-validation-for="LocationOption" class="govuk-error-message"></span>
                <div id="LocationOption" class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input asp-for="LocationOption" id="ProviderLocationOption" class="govuk-radios__input" type="radio" value="ProviderLocation" data-aria-controls="conditional-provider">
                        <label class="govuk-label govuk-radios__label" for="ProviderLocationOption">
                            At one of your training locations
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input asp-for="LocationOption" id="EmployerLocationOption" class="govuk-radios__input" type="radio" value="EmployerLocation" data-aria-controls="conditional-employer">
                        <label class="govuk-label govuk-radios__label" for="EmployerLocationOption">
                            At an employer’s location
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input asp-for="LocationOption" id="BothLocationOption" class="govuk-radios__input" type="radio" value="Both">
                        <label class="govuk-label govuk-radios__label" for="BothLocationOption">
                            Both
                        </label>
                    </div>
                </div>
            </div>

            <div class="govuk-button-group">
                <button id="submit" type="submit" class="govuk-button">Continue</button>
            </div>
        </form>
    </div>
</div>