@using SFA.DAS.Roatp.CourseManagement.Web.Models.Locations
@model EditLocationViewModel
@{
    ViewData["Title"] = "Location details";
}

@section breadcrumb {
    <a href="#" class="govuk-back-link">Back</a>
}

<h1 class="govuk-heading-xl">Location details</h1>
<p>@Model.Name</p>

