@model ReviewYourDetailsViewModel
@{
    ViewData["Title"] = "Review your details";
    ViewData["Description"] = "Check and confirm your standards and location details.";
}
<a href="@Model.DashboardUrl" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--autospacing" id="main_content">
    <div class="govuk-caption-xl">Check your record</div>
    <h1 class="govuk-heading-xl">Review your details</h1>
    <p>Check your organisation’s details are correct. If anything changes in the future, come back to this service and update them.</p>
    <h2 class="govuk-heading-l">Your information</h2>
    <ol class="das-task-list">
        <li class="das-task-list__item">
            <span class="das-task-list__task-name">
                <a class="govuk-link" href="#" aria-describedby="company-information-completed">
                Training locations
                </a>
            </span>
            <strong class="das-tag das-task-list__task-tag" id="locations-status" style="visibility:hidden"></strong>
        </li>
        <li class="das-task-list__item">
            <span class="das-task-list__task-name">
                <a class="govuk-link" href="#" aria-describedby="company-information-completed">
                Standards
                </a>
            </span>
            <strong class="das-tag das-task-list__task-tag" id="standards-status" style="visibility:hidden"></strong>
        </li>
    </ol>
    <h2 class="govuk-heading-l">Confirm your details</h2>
    <p>When you have checked and are happy that these details are correct, confirm them for our record.</p>
    <ol class="das-task-list">
        <li class="das-task-list__item">
            <span class="das-task-list__task-name">
                Submit this information
            </span>
        </li>
    </ol>
</main>
