@model ReviewYourDetailsViewModel
@{
    ViewData["Title"] = "Review your details";
    ViewData["Description"] = "Check and confirm your standards and location details.";
}
<a href="@Model.DashboardUrl" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--autospacing" id="main_content">
    <div class="govuk-caption-xl">Check your record</div>
    <h1 class="govuk-heading-xl">Review your details</h1>
    <p>Check your organisation’s details are correct. If anything changes in the future, come back to this service and update them.</p>
    <h2 class="govuk-heading-l">Your information</h2>
    <table class="govuk-table">
        <tbody>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Training locations</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Standards</td>
                <td class="govuk-table__cell"></td>
            </tr>
        </tbody>
    </table>
    <h2 class="govuk-heading-l">Confirm your details</h2>
    <p>When you have checked and are happy that these details are correct, confirm them for our record.</p>
    <table class="govuk-table">
        <tbody>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Submit this information</td>
                <td class="govuk-table__cell"></td>
            </tr>
        </tbody>
    </table>
</main>










