@using SFA.DAS.Roatp.CourseManagement.Web.Infrastructure
@model ReviewYourDetailsViewModel
@{
    ViewData["Title"] = "Review your details";
    ViewData["Description"] = "Check and confirm your standards and location details.";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your standards and training venues</h1>
        <p class="govuk-body">Manage your standards, training venues and contact details that show on Find apprenticeship training.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row app-flex-row">
            <div class="govuk-grid-column-one-half">
                <div class="app-feature-box">
                    <h2 class="govuk-heading-s app-feature-box__heading"><a href="@Model.StandardsUrl" class="govuk-link">Standards</a></h2>
                    <p class="app-feature-box__content">Add, update or delete your standards.</p>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="app-feature-box">
                    <h2 class="govuk-heading-s app-feature-box__heading"><a href="@Model.ProviderLocationsUrl" class="govuk-link">Training venues</a></h2>
                    <p class="app-feature-box__content">Add, update or delete your training venues.</p>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row app-flex-row">
            <div class="govuk-grid-column-one-half">
                <div class="app-feature-box">
                    <h2 class="govuk-heading-s app-feature-box__heading"><a href="" class="govuk-link">Contact details</a></h2>
                    <p class="app-feature-box__content">Add or update the primary set of contact details you use for your standards.</p>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="app-feature-box">
                    <h2 class="govuk-heading-s app-feature-box__heading"><a href="@Model.ProviderDescriptionUrl" class="govuk-link">Overview</a></h2>
                    <p class="app-feature-box__content">View your training provider overview that shows on Find apprenticeship training.</p>
                </div>
            </div>
        </div>
    </div>
</div>
