@using SFA.DAS.Roatp.CourseManagement.Web.Infrastructure
@using SFA.DAS.Roatp.CourseManagement.Web.Models.ManageShortCourses
@model ManageShortCoursesViewModel
@{
    ViewData["Title"] = $"Manage your {Model.CourseTypeDescription}";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl margin-bottom-30" id="header-apprenticeshipUnit">Manage your @Model.CourseTypeDescription</h1>
        <p class="govuk-body">Use this section to add a new @Model.CourseTypeDescription, update its details or delete it. Any changes you make will update Find apprenticeship training.</p>
        <p class="govuk-body">
            <a href="@Model.AddAShortCourseLink" class="govuk-button">
                Add an @Model.CourseTypeDescription
            </a>
        </p>
    </div>
</div>