@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model CourseLinksViewModel

<table class="govuk-table" aria-labelledby="course-list">
    <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-font-size-24" scope="col">Courses</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var course in Model.Courses)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
                        <a class="govuk-link" href="@course.Url">
                            @course.Name
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>