@{
    Layout = "_Layout.cshtml";
}

@RenderBody()

@section Styles
{
    @RenderSection("Styles", required: false)
    <link href="/css/app.css" rel="stylesheet" no-cdn asp-append-version="true" />
}

@section breadcrumb
{
    @RenderSection("breadcrumb", required: false)

    @if (Model is IBackLink)
    {
        <a class="das-js-back-link">Back</a>
    }
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
    <script src="libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script src="/js/app.js" no-cdn></script>
}