@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model StandardContactInformationViewModel
<h2 class="govuk-heading-l" id="table-header-contact">Information that is specific for this standard</h2>
<h3 class="govuk-heading-m">Contact details</h3>
<p class="govuk-body">If there is a specific person of team that should be contacted for this standard, update these contact details.</p>
<table class="govuk-table" aria-labelledby="table-header-contact">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header das-table-cell-width-30" scope="row">
                Email address
            </th>
            <td class="govuk-table__cell das-table-cell-width-70">
                <span class="das-breakable">
                    @Model.ContactUsEmail
                </span>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Telephone number
            </th>
            <td class="govuk-table__cell">
                @Model.ContactUsPhoneNumber
            </td>
        </tr>
    <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Website page
            </th>
            <td class="govuk-table__cell">
                <span class="das-breakable">
                    @Model.StandardInfoUrl
                </span>
            </td>
        </tr>
    </tbody>
</table>