@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model StandardContactInformationViewModel
<h2 class="govuk-heading-l" id="table-header-contact">Contact details</h2>
<p class="govuk-body">These are the contact details that show on Find apprenticeship training for this standard.</p>
<table class="govuk-table" aria-labelledby="table-header-contact">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header das-table-cell-width-30" scope="row">
                Email address
            </th>
            <td class="govuk-table__cell das-table-cell-width-70">
                <span class="das-breakable">
                    @Model.ContactUsEmail
                </span>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Telephone number
            </th>
            <td class="govuk-table__cell">
                @Model.ContactUsPhoneNumber
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Contact page link
            </th>
            <td class="govuk-table__cell">
                <span class="das-breakable">
                    @Model.ContactUsPageUrl
                </span>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Website page
            </th>
            <td class="govuk-table__cell">
                <span class="das-breakable">
                    @Model.StandardInfoUrl
                </span>
            </td>
        </tr>
    </tbody>
</table>