@using Microsoft.AspNetCore.Mvc.ModelBinding;
@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" role="alert" data-valmsg-summary="true" tabindex="-1">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">

                @{
                    var explorer = ViewData.ModelExplorer;
                    var lastErrorMessage = string.Empty;
                    foreach (var property in explorer.Properties)
                    {
                        IEnumerable<ModelMetadata> properties = property.Metadata.Properties.Where(metadata => metadata.ShowForDisplay).OrderBy(metadata => metadata.Order);
                        var propertyName = property.Metadata.PropertyName;
                        var state = ViewData.ModelState[propertyName];
                        var errors = state?.Errors ?? null;
                        
                        if (errors != null)
                        {
                            foreach (var errorMessage in errors.Select(e=>e.ErrorMessage))
                            {
                                @if (errorMessage != lastErrorMessage)
                                {
                                    <li>
                                        <a href="#@propertyName">
                                            <span class="govuk-visually-hidden">Error: </span>@errorMessage
                                        </a>
                                    </li>
                                }
                                lastErrorMessage = errorMessage;
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
}