@{
    ViewBag.Title = "Providers not registered on course management";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Provider information not found on course management</h1>
            <p class="govuk-body">
                If you are an employer provider or a supporting provider, you do not need to manage your standards via this page.
            </p>
            <p class="govuk-body">
                If you are a main provider and need to manage your standards through this process, telephone a member of the support team on 0800 015 060. Telephone lines are open 8am to 8pm Monday to Friday.
            </p>
        </div>
    </div>
</main>